
.contain{
  position:relative;  height: 100%; min-height: 600px;
  .pw_head_box{
    width: 100%; background:$bg-color;
    > .pw_head{
      margin: $margin; padding: 56px 0 41px 32px; width: 968px;
      > .logo{ display: inline-block;}
      > .title{
        display: inline-block; margin-left: 30px;
        > h1{ font-size: 24px; font-weight: bold; line-height: 40px;}
        > p{}
      }
    }
  }


  > .pw_content{
      position:relative; height: 100%;  min-height: 550px; padding-bottom: 0;
        > .pw_box{
           margin: 85px auto 0;width: 552px;
          > .prompt{
            position: relative;
            > p{
              position: absolute; color: red; font-size: 12px;
              &:nth-child(1){ top:65px; }
              &:nth-child(2){ top:247px; }
            }

          }
          > .prompt_modify{
            > p:nth-child(1){ top:160px;}
          }
          > .prompt_email{
            > p:nth-child(1){ top:65px;}
          }
          > .prompt_v{
            > p:nth-child(1){ top:65px;}
            > p:nth-child(2){ top:160px;}
          }

          > input{ margin-bottom:30px; padding:0 30px;  width: 492px; height: 59px; border:$border-base; font-size: 18px; color: #666}
          > .verification{
            > .input_phone{ margin-bottom:30px; padding:0 30px;  width: 216px; height: 59px; border:$border-base; font-size: 18px; color: #666}
            > .btn{
              outline: none; float:right; display: inline-block; border: none; width: 243px; height: 61px; background:$btn-bg-color; text-align: center; color: #fff; line-height: 61px;
              &:hover{ opacity: .9;}
              &:active{ background: #41a2c3}
            }
            > .active_a{ background: #aaa}
            &:after{ content: ' '; display: block; clear: both; visibility: hidden;}

          }
          > .input_email{ background: url(../images/pw_icon.png) no-repeat 20px 22px; padding-left: 60px; width: 462px;}
          > .input_phone{ background: url(../images/pw_icon2.png) no-repeat 24px 20px; padding-left: 60px; width: 462px;}
          > .pw_btn{
            overflow: hidden;
            > a{
              display: inline-block; width: 265px; height: 60px; background:$btn-bg-color; text-align: center; line-height: 60px; color: $color-base; font-size: 18px;
              &:hover{ opacity: .9;}
              &:nth-child(1){ margin-right: 21px;}
              &:nth-child(2){ background: #bfbfbf}
            }
          }
          > .pw_btn_email{
            > a{
              display: inline-block; width: 100%; height: 60px; background:$btn-bg-color;text-align: center; line-height: 60px; color: $color-base; font-size: 18px;
              &:hover{ opacity: .9;}
              &:active{ background: #41a2c3}
            }

          }

      }
    }

  > .pw_foot{
    position:absolute; bottom:0; width: 100%; height: 81px; background:$bg-color;
    .inx_footer{ bottom:120px;}

   }

}
