<div class="contest_bg attention_contest">
    <div class="contest">
        <div class="contest_info about">

            <div class="contest_title">
                <h1>关于我们</h1>
            </div>

            <ul class="tab_list same_tab_list about_tab_list">
                <li class="active" ui-sref="page.about">关于我们</li>
                <li ui-sref="page.data">数据说明</li>
            </ul>
            <ul class="same_tab_box about_tab_box">
                <li>
                    <p>上海卓企华屋营销策划有限公司，是一家集市场咨询、数据服务、微信推广以及线上线下活动等综合服务的专业地产营销团队。</p>
                    <br/>

                    <p>公司自2012年成立以来，先后服务于华润置地、九龙仓、汤臣集团、保利置业、金地集团、嘉华集团、农工商房产、仁恒置地、复地集团、绿地集团、星河湾集团等多家知名地产开发商，倾力打造了【超级案场决策】、【超级来访单】、【华屋决策】、【华屋案场】、【华屋分销】等明星产品APP，受到业界同仁的高度好评。</p>
                    <br/>

                    <p>在风云变幻的地产白银时代，华屋作为一家具有专业决策能力的营销公司，也愿为已经到来的“移动互联网时代”略尽一份绵薄之力。</p>
                </li>
            </ul>
        </div>
    </div>
</div>