<div class="contain">
    <div class="pw_head_box">
        <div class="pw_head">
            <div class="logo"></div>
            <div class="title">
                <h1>验证身份</h1>
                <p>请填入您的新密码</p>
            </div>
        </div>
    </div>
    <div class="pw_content">
        <div class="pw_box pw_email_box">
            <div class="prompt prompt_email">
                <p>你输入的邮箱有误，请重新输入！</p>
            </div>
            <input type="text" placeholder="请输入注册邮箱" class="input_email">
            <div class="pw_btn_email"><a>发送验证邮件</a></div>
        </div>
    </div>

    <div class="pw_foot">
        <div class="inx_footer">
            <a>数据说明</a>｜<a>关于我们</a>
        </div>
    </div>
</div>